body 
{
    text-align: center;
    padding: 0px;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/30/19/33/children-1941336_1280.png);
}
   
h3
{
    display: none;
}

h1
{
    background-color: white;
}

.cen
{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 120%;
}

button
{
    border-radius: 200px;
}

button:hover
{
    background-color: green;
    color: white;
}